@import "tailwindcss";

@theme {
  --color:
    --color-artemis-primary: #0172ad;
  --color-artemis-primary-hover: #015887;
  --color-artemis-primary-inverse: #fff;
  --color-artemis-surface: #fff;
  --color-artemis-text: #373c44;
  --color-artemis-text-muted: #646b79;
  --color-artemis-border: rgb(231, 234, 239.5);
  --color-artemis-bg: #fff;
}

@layer base {
  :root {
    --artemis-primary: var(--color-artemis-primary);
    --artemis-primary-hover: var(--color-artemis-primary-hover);
    --artemis-primary-inverse: var(--color-artemis-primary-inverse);
    --artemis-surface: var(--color-artemis-surface);
    --artemis-text: var(--color-artemis-text);
    --artemis-text-muted: var(--color-artemis-text-muted);
    --artemis-border: var(--color-artemis-border);
    --artemis-bg: var(--color-artemis-bg);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-artemis-primary: #01aaff;
      --color-artemis-primary-hover: #017fc0;
      --color-artemis-primary-inverse: #fff;
      --color-artemis-surface: rgb(19, 22.5, 30.5);
      --color-artemis-text: #c2c7d0;
      --color-artemis-text-muted: #7b8495;
      --color-artemis-border: #202632;
      --color-artemis-bg: rgb(19, 22.5, 30.5);

      --artemis-primary: var(--color-artemis-primary);
      --artemis-primary-hover: var(--color-artemis-primary-hover);
      --artemis-primary-inverse: var(--color-artemis-primary-inverse);
      --artemis-surface: var(--color-artemis-surface);
      --artemis-text: var(--color-artemis-text);
      --artemis-text-muted: var(--color-artemis-text-muted);
      --artemis-border: var(--color-artemis-border);
      --artemis-bg: var(--color-artemis-bg);
    }
  }
}
